.main-interface-child {
  width: 858px;
  height: 797px;
  position: relative;
  border-radius: var(--br-56xl);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  border: 4px solid var(--color-black);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.ok-icon {
  height: 222px;
  width: 251px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.ok-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.congratulations-your-account {
  align-self: stretch;
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.frame-group {
  width: 679px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 46px;
  max-width: 100%;
}
.frame-child8 {
  height: 87px;
  width: 237px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-limegreen-100);
  display: none;
}
.continue {
  position: relative;
  font-size: var(--font-size-25xl);
  line-height: 44px;
  font-weight: 600;
  font-family: var(--font-noto-serif-kannada);
  color: var(--color-black);
  text-align: left;
  z-index: 1;
}
.main-interface,
.main-interface-inner,
.rectangle-parent5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
}
.rectangle-parent5 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lgi) var(--padding-mini) 24px;
  background-color: var(--color-limegreen-100);
  width: 237px;
  border-radius: var(--br-xl);
  justify-content: flex-start;
  z-index: 1;
}
.rectangle-parent5:hover {
  background-color: #0fc90a;
}
.main-interface,
.main-interface-inner {
  width: 680px;
  justify-content: center;
  padding: 0 var(--padding-12xs) 0 0;
  max-width: 100%;
}
.main-interface {
  width: 858px;
  border-radius: var(--br-56xl);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  border: 4px solid var(--color-black);
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 85px var(--padding-xl) 152px;
  gap: 52px;
}
.macbook-pro-14-6 {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-73xl) var(--padding-xl) var(--padding-74xl);
  box-sizing: border-box;
  background-image: url(./public/macbook-pro-14--4@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-25xl);
  color: var(--color-black);
  font-family: var(--font-noto-serif-kannada);
}
@media screen and (max-width: 750px) {
  .congratulations-your-account {
    font-size: var(--font-size-16xl);
  }
  .frame-group {
    gap: var(--gap-4xl);
  }
  .continue {
    font-size: var(--font-size-16xl);
    line-height: 35px;
  }
  .main-interface {
    gap: 26px;
    padding-top: 55px;
    padding-bottom: 99px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .congratulations-your-account,
  .continue {
    font-size: var(--font-size-7xl);
  }
  .continue {
    line-height: 26px;
  }
  .main-interface {
    padding-top: var(--padding-17xl);
    padding-bottom: 64px;
    box-sizing: border-box;
  }
}
